*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

p, ol, ul, li {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 20vh;
    width: 100%;
    background-color: #E2F9FF;
}

.site-logo a img {
    width: 29.6vw;
    height: 4.8vw;
}

.header-nav-links {
    display: flex;
}

.header-nav-item {
    margin-right: 2vw;
}

a.nav-button {
    overflow: hidden;
    padding: 1.5rem 6rem;
    color: #fff;
    border-radius: 0;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 10vh;
    font-size: 1vw;
}

    a.nav-button span {
        position: relative;
    }

    a.nav-button:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        -webkit-transform: translateX(-96%);
        transform: translateX(-96%);
        background: #eb6877;
    }

    a.nav-button:hover:before {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }

.header-nav-links li:nth-child(1) .nav-button:before {
    background-color: red;
}

.header-nav-links li:nth-child(2) .nav-button:before {
    background-color: green;
}

.header-nav-links li:nth-child(3) .nav-button:before {
    background-color: blue;
}

#main {
    background-color: #F5C2FF;
    margin-top: 20vh;
    position: relative;
}

.box-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    margin-left: 10%;
}

    .box-inner .title {
        display: flex;
        width: 100%;
        align-items: center;
        margin-top: 2rem;
    }

    .box-inner .title-square {
        width: 1rem;
        height: 5rem;
        background: #DB33EE;
        margin-right: 1rem;
    }

.box-title {
    font-size: 5rem;
}

.wip-badge {
    display: inline-block;
    background: #9933CC;
    color: #fff;
    font-size: 2.5rem;
    padding: 0.8rem 3rem;
    border-radius: 0.5rem;
    margin: 2rem 0;
}

.text-title {
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: linear-gradient(transparent 90%, #FF8E8E 10%);
    display: inline-block;
}

.text1-inner {
    font-size: 3rem;
}

.text2-inner {
    font-size: 3rem;
}

.text2-video {
    width: 60rem;
}

#footer {
    background-color: #F5C2FF;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80vw;
    height: 40vh;
    background-color: #F7FFC1;
    margin: 2rem;
}

.footer-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15vw;
    height: 15vw;
}

.footer-nav-links {
    display: flex;
    justify-content: center;
}

a.footer-nav-button {
    color: #fff;
    border-top: 4px solid #48ecc4;
    border-right: 4px solid #0a5f4a;
    border-bottom: 4px solid #0f745b;
    border-left: 4px solid #8cf9de;
    border-radius: 0;
    background: #11a37f;
    width: 5vw;
    height: 2vh;
    font-size: 1rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

    a.footer-nav-button:hover {
        color: #fff;
        border-top: 4px solid #0f745b;
        border-right: 4px solid #8cf9de;
        border-bottom: 4px solid #48ecc4;
        border-left: 4px solid #0a5f4a;
    }

.footer-nav-links li:nth-child(1) .footer-nav-button {
    background-color: #9c9c9c;
    border-top: 4px solid #C5C5C5;
    border-right: 4px solid #4E4E4E;
    border-bottom: 4px solid #6B6B6B;
    border-left: 4px solid #D1D1D1;
}

    .footer-nav-links li:nth-child(1) .footer-nav-button:hover {
        background-color: #9c9c9c;
        border-bottom: 4px solid #C5C5C5;
        border-left: 4px solid #4E4E4E;
        border-top: 4px solid #6B6B6B;
        border-right: 4px solid #D1D1D1;
    }

.footer-nav-links li:nth-child(2) .footer-nav-button {
    background-color: #E90000;
    border-top: 4px solid #FF3E3E;
    border-right: 4px solid #870000;
    border-bottom: 4px solid #AE0000;
    border-left: 4px solid #FF7878;
}

    .footer-nav-links li:nth-child(2) .footer-nav-button:hover {
        background-color: #E90000;
        border-bottom: 4px solid #FF3E3E;
        border-left: 4px solid #870000;
        border-top: 4px solid #AE0000;
        border-right: 4px solid #FF7878;
    }

.role {
    display: flex;
    align-items: center;
}

.role-square {
    width: 0.8rem;
    height: 2rem;
    background: #DB33EE;
    margin-right: 0.5rem;
}

.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10vw;
    margin-left: 5vw;
}

.footer-self-introduction-role {
    font-size: 2rem;
}

.footer-self-introduction-name {
    font-size: 6rem;
}

.footer-self-introduction-university {
    font-size: 3rem;
    margin-bottom: 5rem;
}

.footer-self-introduction-comment {
    font-size: 2rem;
}
